//Theme colors for MetaVault design
$primary-orange-50: #fdf2e6;
$primary-orange-100: #f9d7b0;
$primary-orange-200: #f6c38a;
$primary-orange-300: #f2a855;
$primary-orange-400: #ef9734;
$primary-orange-500: #eb7d01;
$primary-orange-600: #d67201;
$primary-orange-700: #a75901;
$primary-orange-800: #814501;
$primary-orange-900: #633500;

$secondary-blue-50: #e7f0f3;
$secondary-blue-100: #b3cfda;
$secondary-blue-200: #8fb8c8;
$secondary-blue-300: #5c97af;
$secondary-blue-400: #3c839f;
$secondary-blue-500: #0b6487;
$secondary-blue-600: #0a5b7b;
$secondary-blue-700: #084760;
$secondary-blue-800: #06374a;
$secondary-blue-900: #052a39;

$neutral-gray-50: #e6eaeb;
$neutral-gray-100: #b2bdc2;
$neutral-gray-200: #8c9da4;
$neutral-gray-300: #58717a;
$neutral-gray-400: #375561;
$neutral-gray-500: #052b39;
$neutral-gray-600: #052734;
$neutral-gray-700: #041f28;
$neutral-gray-800: #03181f;
$neutral-gray-900: #021218;

$success-green-50: #e8f3e7;
$success-green-100: #b8dab4;
$success-green-200: #96c890;
$success-green-300: #66af5d;
$success-green-400: #489f3d;
$success-green-500: #1a870d;
$success-green-600: #187b0c;
$success-green-700: #126009;
$success-green-800: #0e4a07;
$success-green-900: #0b3905;

$warning-yellow-50: #f0ead9; 
$warning-yellow-100: #ebd499; 
$warning-yellow-200: #eacb7d; 
$warning-yellow-300: #eac976; 
$warning-yellow-400: #f4ce70; 
$warning-yellow-500: #f2c555; 
$warning-yellow-600: #edbd42; 
$warning-yellow-700: #ebb11e; 
$warning-yellow-800: #c3a003; 
$warning-yellow-900: #75580e; 

$error-red-50: #ffecec;
$error-red-100: #ffc3c4;
$error-red-200: #ffa6a7;
$error-red-300: #ff7e7f;
$error-red-400: #ff6566;
$error-red-500: #ff3e40;
$error-red-600: #e8383a;
$error-red-700: #b52c2d;
$error-red-800: #8c2223;
$error-red-900: #6b1a1b;

$shades-black: #000;
$shades-dark: #2f2f2f;
$shades-grey: #7a7a7a;
$shades-white: #fff;
$shades-light-grey: #dadada;
$shades-soft-grey: #f8f8f8;
$shades-heather: #f2f2f2;
$shades-steel: #eee;


$metavault-primary: $primary-orange-500;
$metavault-secondary: $secondary-blue-500;
$metavault-success: $success-green-500;
$metavault-warning: $warning-yellow-500;
$metavault-error: $error-red-500;
$metavault-dark: $shades-dark;
$metavault-grey: $shades-grey;
$metavault-light-grey: $shades-light-grey;
$metavault-heather-grey: $shades-heather;
$metavault-soft-grey: $shades-soft-grey;