$sidenav-width: 17em;

$spacing-xxs: 2px;
$spacing-xs: 4px;
$spacing-s: 8px;
$spacing-m: 16px;
$spacing-l: 24px;
$spacing-xl: 32px;
$spacing-xxl: 40px;
$spacing-xxl-2: 48px;
$spacing-xxl-3: 56px;
$spacing-xxl-4: 64px;
$spacing-xxl-5: 72px;